<!-- home page -->

<template name="Home">
	<main class="container">
		{{> header_hm}}
		{{> login_sign}}
		{{> Signup}}
		{{> Login}}
		<div class="row">
			<section class="intro col l8 offset-l2 m8 offset-m2 s8 offset-s2">
				<p>Welcome Friend, we need your help! A bunch of alien bunnies calling themselves the HexaBunnies have taken control of SourceCity. They've captured anyone who could stop them, but they've underestimated YOU!</p>
				<p>You, a young 'developer', you can learn the language of websites, the one thing that can stop the HexaBunnies!</p>
			</section>
		</div>
		{{> user_avatar}}
		{{> hexabunnies}}
	</main>
</template>