<!-- avatar and hexabunnies templates -->

<template name="avatar">
	
	{{#if currentUser}}
		<img src="/images/dressup/skin/skin_3.svg" class="ava_base">
		<img src="/images/dressup/outfit/dress_2.svg" class="ava_outfit">
		<img src="/images/dressup/hair/hair_5_blonde.svg" class="ava_hair">
	{{else}}

		<img src="/images/ava_base.svg" class="ava_base">
		<img src="/images/ava_outfit.svg" class="ava_outfit">
		<img src="/images/ava_hair.svg" class="ava_hair">
	{{/if}}
	
</template>

<template name="hexabunnies">
	<section class="hexabunnies">
		<img src="/images/hexabunnies.svg" class="ava_base">
	</section>	
</template>