<!-- header and footer templates -->
<template name="header">
	
</template>

<template name="header_hm">
	<div class="row">
		<div class="col l6 offset-l3 m8 offset-m2 s8 offset-s2">
			<img src="/images/logo.svg" class="logo">	
		</div>
	</div>		
</template>

<template name="footer">
	<footer class="container">
		<div class="row">
			<section class="col l8 offset-l2 m8 offset-m2 s8 offset-s2">
				<section class="social col l6 m7 s12 center-align">
					<span>Follow Us @</span>
					<a href="#" title="Follow as on Facebook"><i class="fa fa-facebook-square"></i></a> 
					<a href="#" title="Follow as on Twitter"><i class="fa fa-twitter-square"></i></a>
				</section>
				<span class="sign col l6  m5 s12 center-align">Lovingly Designed By Sian Finlay</span>
			</section>
		</div>
		
	</footer>
</template>