<!-- header and footer templates -->
<template name="header">
	<header class="user_header">
		<div class="row">
			<section class="col l2 offset-l1 m3 offset-m1 s6 offset-s1">
				<img src="/images/logo.svg" class="logo">	
			</section>
			<section class="col l3 offset-l5 m4 offset-m3 s4 ">
				{{#if currentUser}}
				<div class="right-align col s12">
						Welcome, {{currentUser.username}}{{currentUser.profile.name}}		
				</div>
				{{> dropdown_nav}}
				{{else}}
					<a href="/" >Sign In</a>
		    	{{/if}}

			</section>
		</div>
	</header>
	
</template>

<template name="dropdown_nav">
	<div class="right">
		<a href="#" class="dropdown-button col s12" data-activates='dropdown-nav'>
			<i class="material-icons right">settings</i>Explore
		</a>
		<ul id='dropdown-nav' class='dropdown-content'>
		    <li><a href="{{pathFor route='account'}}">Account</a></li>
		    <li><a href="{{pathFor route='levels'}}">Levels</a></li>
		    <li><a href="{{pathFor route='customisation'}}">Customise</a></li>
		    <li><a href="{{pathFor route='leaderboard'}}">Leaderboard</a></li>
		    <li class="divider"></li>
			<li><a href="#" class="logout">Log Out</a></li>
		</ul>
	</div>
</template>

<template name="header_hm">
	<div class="row">
		<section class="col l6 offset-l3 m8 offset-m2 s8 offset-s2">
			<img src="/images/logo.svg" class="logo">	
		</section>
	</div>		
</template>

<template name="footer">
	<footer class="container">
		<div class="row">
			<section class="col l8 offset-l2 m8 offset-m2 s8 offset-s2">
				<section class="social col l6 m7 s12 center-align">
					<span>Follow Us @</span>
					<a href="#" title="Follow as on Facebook"><i class="fa fa-facebook-square"></i></a> 
					<a href="#" title="Follow as on Twitter"><i class="fa fa-twitter-square"></i></a>
				</section>
				<span class="sign col l6  m5 s12 center-align">Lovingly Designed By Sian Finlay</span>
			</section>
		</div>
		
	</footer>
</template>