<!-- home page -->

<template name="Home">
	<main class="container">
		{{> header_hm}}
		{{> login_sign}}
		{{> Signup}}
		{{> Login}}
		<div class="row">
			<section class="intro col l8 offset-l2 m8 offset-m2 s8 offset-s2">
				<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
			</section>
		</div>
		<section class="avatar">
			{{> avatar}}
		</section>	
		{{> hexabunnies}}
	</main>
</template>