<!-- level intros -->
<!-- Level 1 -->
<template name="level1Modal">
	<div id="level1Hint" class="signup_login_modal modal modal-fixed-footer">
		<form class="signup">
			<div class="modal-content">
		      <h4 class="center-align">Level 1: P-P-Paragraphs</h4>
		      <div class="row">
		      	<p class="col s8 offset-s2">TSed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
		      </div>
		    </div>

		    <div class="modal-footer">
		      <a href="#!" class="modal-action modal-close waves-effect waves-gree btn-flat">Okay!</a>
		    </div>
	    </form>
	</div>
	<div id="level1Submit" class="signup_login_modal modal modal-fixed-footer">
		<form class="Level1form">
			<div class="modal-content">
		      <h4 class="center-align">Level 1: Results!</h4>
		      <div class="row">
		      	<div class="scoreResult"><i class="material-icons">star_rate</i><span class="score"></span> / 2</div>
		      	<p class="scoreMessage col s8 offset-s2">You've learnt you first Element! Keep this up and You'll beat those HexaBunnies back to their planet!</p>
		      </div>
		    </div>

		    <div class="modal-footer">
		      <a href="#!" class="modal-action modal-close waves-effect waves-gree btn-flat">Okay!</a>
		    </div>
	    </form>
	</div>
</template>