<!-- level 1 -->
<template name="level1">
	{{> header}}
	<main>
	{{> user_avatar}}
	<section class="container">
		<div class="row">
			<section class="col l6 offset-l3 m6 offset-m3 level">
				<div class="hint_Submit left">
					<a href="#level1Hint" class="Hint waves-effect modal-trigger btn-flat col">See Hint</a>
					<a href="#level1Submit" class="SubmitLevel waves-effect modal-trigger btn">Submit!</a>
				</div>
				
			</section>
			<section class="col l6 offset-l3 m6 offset-m3 level">
				<div id="level1"></div>
			</section>
			<section class="col l6 offset-l3 m6 offset-m3 s10 offset-s1 levelBigger">
				<p> Please Rotate your screen. If you are on a Phone, This game can only played on Tablet or Computer</p>
				<a href="{{pathFor route='account'}}" class="goBack waves-effect modal-trigger btn col l5 m5 s12">Go Back to account</a>
			</section>
		</div>
		{{> level1Modal}}
	</section>
	{{> hexabunnies}}
	</main>
	<script type="text/javascript" src="/js/level_1.js"></script>
</template>

<!-- level 2 -->
<template name="level2">
	{{> header}}
	<main>
	{{> user_avatar}}
	<section class="container">
		<div class="row">
			<section class="col l6 offset-l3 m6 offset-m3 level">
				<div class="hint_Submit left">
					<a href="#level2Hint" class="Hint waves-effect modal-trigger btn-flat col">See Hint</a>
					<a href="#level2Submit" class="SubmitLevel waves-effect modal-trigger btn">Submit!</a>
				</div>
				
			</section>
			<section class="col l6 offset-l3 m6 offset-m3 level">
				<div id="level2"></div>
			</section>
			<section class="col l6 offset-l3 m6 offset-m3 s10 offset-s1 levelBigger">
				<p> Please Rotate your screen. If you are on a Phone, This game can only played on Tablet or Computer</p>
				<a href="{{pathFor route='account'}}" class="goBack waves-effect modal-trigger btn col l5 m5 s12">Go Back to account</a>
			</section>
		</div>
		{{> level2Modal}}
	</section>
	{{> hexabunnies}}
	</main>
	<script type="text/javascript" src="/js/level_2.js"></script>
</template>

<!-- level 3 -->
<template name="level3">
	{{> header}}
	<main>
	{{> user_avatar}}
	<section class="container">
		<div class="row">
			<section class="col l6 offset-l3 m6 offset-m3 level">
				<div class="hint_Submit left">
					<a href="#level3Hint" class="Hint waves-effect modal-trigger btn-flat col">See Hint</a>
					<a href="#level3Submit" class="SubmitLevel waves-effect modal-trigger btn">Submit!</a>
				</div>
				
			</section>
			<section class="col l6 offset-l3 m6 offset-m3 level">
				<div id="level3"></div>
			</section>
			<section class="col l6 offset-l3 m6 offset-m3 s10 offset-s1 levelBigger">
				<p> Please Rotate your screen. If you are on a Phone, This game can only played on Tablet or Computer</p>
				<a href="{{pathFor route='account'}}" class="goBack waves-effect modal-trigger btn col l5 m5 s12">Go Back to account</a>
			</section>
		</div>
		{{> level3Modal}}
	</section>
	{{> hexabunnies}}
	</main>
	<script type="text/javascript" src="/js/level_3.js"></script>
</template>

<!-- level 4 -->
<template name="level4">
	{{> header}}
	<main>
	{{> user_avatar}}
	<section class="container">
		<div class="row">
			<section class="col l6 offset-l3 m6 offset-m3 level">
				<div class="hint_Submit left">
					<a href="#level4Hint" class="Hint waves-effect modal-trigger btn-flat col">See Hint</a>
					<a href="#level4Submit" class="SubmitLevel waves-effect modal-trigger btn">Submit!</a>
				</div>
				
			</section>
			<section class="col l6 offset-l3 m6 offset-m3 level">
				<div id="level4"></div>
			</section>
			<section class="col l6 offset-l3 m6 offset-m3 s10 offset-s1 levelBigger">
				<p> Please Rotate your screen. If you are on a Phone, This game can only played on Tablet or Computer</p>
				<a href="{{pathFor route='account'}}" class="goBack waves-effect modal-trigger btn col l5 m5 s12">Go Back to account</a>
			</section>
		</div>
		{{> level4Modal}}
	</section>
	{{> hexabunnies}}
	</main>
	<script type="text/javascript" src="/js/level_4.js"></script>
</template>

<!-- level 5 -->
<template name="level5">
	{{> header}}
	<main>
	{{> user_avatar}}
	<section class="container">
		<div class="row">
			<section class="col l6 offset-l3 m6 offset-m3 level">
				<div class="hint_Submit left">
					<a href="#level5Hint" class="Hint waves-effect modal-trigger btn-flat col">See Hint</a>
					<a href="#level5Submit" class="SubmitLevel waves-effect modal-trigger btn">Submit!</a>
				</div>
				
			</section>
			<section class="col l6 offset-l3 m6 offset-m3 level">
				<div id="level5"></div>
			</section>
			<section class="col l6 offset-l3 m6 offset-m3 s10 offset-s1 levelBigger">
				<p> Please Rotate your screen. If you are on a Phone, This game can only played on Tablet or Computer</p>
				<a href="{{pathFor route='account'}}" class="goBack waves-effect modal-trigger btn col l5 m5 s12">Go Back to account</a>
			</section>
		</div>
		{{> level5Modal}}
	</section>
	{{> hexabunnies}}
	</main>
	<script type="text/javascript" src="/js/level_5.js"></script>
</template>